{% extends "app/layout.html" %}

{% block content %}

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">         
          <a class="navbar-brand" href="#">Azure App Service</a>		 
        </div>            
      </div>
    </nav> 

<div><br><br><h1>Welcome CLOD2006 Group A PaaS!</h1></div>
<div>
    <p><br><b>Group Members:</b></p>
Rosemarie Sauri<br>
Dipansu Dipes Sinha<br>
Ponni Sajeevan<br>
Abhishek Mittal<br>
Swaroopkrishna S. Menon<br>
Piyush Gopalakrishnan Iyer<br>
Nikhitha Angara<br>

</div>

<hr>
{% endblock %}